body{
    background-color: grey
}
.App{
    border: 1px solid black;
    margin: 10px 30%;
    padding: 50px;
    text-align: center;
    border-radius: 25px;
}
.App h2{
    color: white;
}
.App ul{
    list-style: "❤️";
    cursor: pointer;
    font-size: 22px;
    color: black;
    margin: 20px;
}
.App input{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    margin: 20px;
}
.App button{
    display: block;
    margin: auto;
    width: 150px;
    height: 30px;
    background-color: cadetblue;
    color: white;
    border: 0;
}
.App ul li {
    word-wrap: break-word;
    /* overflow-wrap:break-word; */
}
.diffStyle{
    list-style: "🆗";
    text-decoration: line-through;
}
.del {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* /////////////////////// */
@media screen and (max-width:576px){
    #root{
        width: 116px;
    }
    .App{
        width: 209px;
    }
}